{% extends "base.html" %}
{% block title %}
About Rematchr
{% endblock %}  
{% block maintitle %}
About This Site
{% endblock %}

{% block content %}
<p>
This site was created to support the <a href="https://www.usenix.org/conference/satcpi15">
<em>National Science Foundation Secure and Trustworthy Cyberspace (SaTC) Principal Investigators' Meeting</em></a>, 5-7 January 2015.
</p>
<p>
The project award data is from the <a href="http://www.nsf.gov/awardsearch/download.jsp">NSF's public records</a>.
</p>
<p>

<h3>Contributions</h3>
<p>
Corey Ames (University of Virginia undergraduate student) developed the text
analysis and topic modeling code for building models from researcher's
abstracts.
</p>
<p>
<a href="https://github.com/mzweilin">Weilin Xu</a> (University of Virginia PhD Student) developed the research
matching algorithms and graphing code (using D3).  
</p>
<p>
<a href="http://www.cs.virginia.edu/yanjun/">Yanjun Qi</a> (University
of Virginia) provided machine learning expertise.
</p>
<p>
<a href="http://www.cs.virginia.edu/evans">David Evans</a> (University
of Virginia) led the project and did most of the web-hacking, building
on a site created by Robert Michaels (University of Virginia
undergraduate student).

</p>

{% endblock %}

