{% extends "base.html" %}
{% block title %}
About Rematchr
{% endblock %}  
{% block maintitle %}
About This Site
{% endblock %}

{% block content %}
<p>

Due to a programming mistake, the information extracted for some PIs'
abstracts was not correctly matched with the right PI.  This means that
some of the matches that were supposed to be based on information from
the text analysis of your NSF abstracts, were actually based on
information from other PIs' abstracts (not involved in the match), so
are essentially random matches.
</p>
<p>
Sorry for the mistake!  We hope you enjoyed meeting with your group
regardless.

</p>

{% endblock %}

