<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url={{ redirect }}">
        <script type="text/javascript">
            window.location.href = {{ redirect }}
        </script>
        <title>Updating...</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        Updating {{ redirect }}...

<!--If you are not redirected automatically, try <a href="{{ redirect}}"><em>{{ redirect }}</em></a>.
-->
    </body>
</html>
