{% extends "base.html" %}

{% block title %}NSF SaTC PIs{% endblock %}  

{% block maintitle %}NSF SaTC PIs Meeting 2015{% endblock %}

{% block content %}

[INSERT CATCHY NAME HERE] is a system for pairing research authors attending [CONFERENCE NAME] based on text analysis of their works. Once in the system, documents you provide will be used to model a set of topics tailored to your work, and provide direction to connecting with other researchers who may be connected similarly.</p>
	<p>To get started with creating an account, click the "login" button to connect an email address with Mozilla Persona. After that, you will be directed through a simple profile setup and start with your matching!</p>

{% endblock %}
