{% load browserid %}
{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
	{% browserid_css %}
        <title>Upload Files</title>   
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}" />
    </head>
<body>
{% browserid_info %}
<div id="container">
<div id="header"><h1>{{user.email}}'s Profile</h1></div>
  <div id="wrapper">
{% csrf_token %}
        {% if user.is_authenticated %}
	<div id="menu">
      <ul>
      <li><a href="{% url 'home' %}">Profile Home</a></li>
      <li><a href="{% url 'manage' %}">Manage Documents</a></li>
	<li><a href="{% url 'manage' %}">Profile Settings</a></li>
    	<li><div class = "authentication">
          {% browserid_logout text='Logout' %}
	</div></li></ul>
        {% else %}
	<div id="authmenu">
	<div class = "authentication">
          {% browserid_login text='Login' color='dark' %}
	</div>
        {% endif %}
	<br>
	<form action="{% url 'nsfLookup' abstractid="search" %}" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
	  <p>Find NSF Abstract/Email: <input type="text" name="abstractVal">
	  <input type="submit" value="Go" /></p>
	</form> 
  </div>
    <div id="content">
    {% if status %}
    <p><font color = "FF0000">{{ status }}</font></p>
    {% endif %}
   {% if documents %}	
    <p><strong>Uploaded Files</strong></p>
    <ul>
        {% for document in documents %}
        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a> 
	  <form action="{% url 'delete' document.id %}" method="post">
	    {% csrf_token %}
	    <input type="submit" value="Delete" />
	  </form>
	</li>
        {% endfor %}
        </ul>
    </div>
   {% else %}
	<p>No documents uploaded yet!</p>
	</div>
    {% endif %}
  </div>
  <div id="extra">
    <form action="{% url 'manage' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ fileform.non_field_errors }}</p>
            <p>{{ fileform.docfile.label_tag }} {{ fileform.docfile.help_text }}</p>
            <p>
                {{ fileform.docfile.errors }}
                {{ fileform.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>

	<form action="{% url "pdfupload" %}" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
	  <p>{{ urlform.non_field_errors }}</p>
	  <p>{{ urlform.baseurl.label_tag }}</p>
	  <p>
	      {{ urlform.baseurl.errors }}
	      {{ urlform.baseurl }}
	  </p>
	  <p><input type="submit" value="Upload" /></p>
	  </form>
  </div>
</div>
 <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% browserid_js %}
</body>
</html> 
